// backend/jobs.config
{
  "jobs": [
    {
      "functionLocation": "/jobs.js",
      "functionName": "deleteOldReferralTemp",
      "description": "Delete ReferralTemp entries older than 6 months",
      "executionConfig": {
        "time": "00:00",
        "interval": "month"
      }
    }
  ]
}
